:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #343432;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  padding: 0px;
  margin: 0px;
}


#navbar {
  background-color: #fff;
  height: 10.5vh;
  width: 100vw;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 0px 10px;
  color: #343432;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 4;
  top: 0%;
}
#name {
  margin-left: 2vw;
  margin-top: 1vh;
}
#links {
  margin-right: 2vw;
  margin-top: 1vh;
}
.anchor {
  text-decoration: none;
  color: #343432;
  margin: 0.75vw;
  font: 35px;
}
.anchor:hover {
  color: #E88D67;
  transition: 0.3s;
}


#home {
  width: 100vw;
  height: 89.5vh;
  margin-top: 15vh;
}
#git-LI {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 14%;
  top: 9%;
  width: 150px;
  height: 150px;
}
.gl {
  width: 60px;
  height: 50px;
  position: relative;
  top: 0%;
  background-color: transparent;
  transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cat {
  font-size: 70px;
  margin-left: 0px;
  color: #343432;
  cursor:pointer;
}
#cat:hover {
  color: #E88D67;
  transition: 0.3s;
}
#LI {
  font-size: 70px;
  margin: 0px;
  padding: 0px;
  color: #343432;
  cursor:pointer;
  /* background-color: gray; */
}
#LI:hover {
  color: #E88D67;
  transition: 0.3s;
}
#me {
  /* -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-color: gray;
    add background image later
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;
    left: 55%;
    top: -60%;
    height: 65%;
    width: 25%; */
  height: 70%;
  width: 30%;
  position: relative;
  left: 55%;
  top: -50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#stack {
  display: flex;
  flex-direction: row;
  height: 80px;
  /* background-color: gray; */
  width: 35%;
  position: relative;
  left: 15%;
  top: 15%;
  align-items: center;
  font-size: 20px;
}


#abt {
  width: 100vw;
  height: 75vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
#abt-pic {
  width: 30%;
  height: 52.5vh;
  background-color: gray;
  position: relative;
  top: 10%;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}
#abt-txt {
  position: relative;
  top: 10%;
  left: 17%;
  width: 40%;
  height: 60%;
  margin: 0px;
}
#pdf {
  border-color: #343432;
  background-color: #343432;
  width: 10vw;
  height: 5vh;
  position: relative;
  top: 73%;
  left: -23%;
  border-radius: 5px;
}
#pdf:hover {
  background-color: #E88D67;
  border-color: #E88D67;
  transition: 0.3s;
}

#project {
  width: 100vw;
  height: 100vh;
}
#project1 {
  height: 40%;
  width: 70%;
  position: relative;
  left: 15%;
  margin: 0%;
  border-radius: 5px;
  background-color: #fff;
  /* display: flex;
  flex-direction: row; */
}
#p1-img {
  background-color: gray;
  height: 80%;
  width: 25%;
  position: relative;
  top: 10%;
  left: 2.5%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#p1-txt {
  height: 80%;
  width: 67.5%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30%;
  top: -70%;
  border-radius: 5px;
}
#p1-link {
  border-color: #343432;
  background-color: #343432;
  width: 5vw;
  height: 5vh;
  position: relative;
  top: -90%;
  left: 30%;
  border-radius: 5px;
}
#p1-link:hover {
  background-color: #E88D67;
  border-color: #E88D67;
  transition: 0.3s;
}

#contact {
  width: 100vw;
  height: 50vh;
  background-color: #fff;
}
#L-E {
  position: relative;
  top: 15%;
  left: 15%;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 60%;
  align-items: center;
}
#location {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
#l {
  font-size: 40px;
  border-radius: 50px;
}
#email {
  width: 40%;
  height: 100%;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
#m {
  font-size: 40px;
  border-radius: 50px;
}
#ml {
  text-decoration: none;
  color: #343432;
}
#ml:hover {
  color: #E88D67;
  transition: 0.3s;
}